$blue: #1677FF;
$pink: #dd33dd;

.updateItem {
  input {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:40px;

    margin-bottom: 1.5em;
    margin-top: .4em;

    &:hover {
      transition-duration: 0.25s;
      box-shadow:0 0 4px rgba(0,0,0,0.5);
    }
  }

  textarea {
    font-family: inherit;
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;

    margin-bottom: 1.5em;
    margin-top: .4em;

    &:hover {
      transition-duration: 0.25s;
      box-shadow:0 0 4px rgba(0,0,0,0.5);
    }
  }

  label {
    margin: 0.8em;  
  }

  button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding: 0.8em;
    border: none;
    background-color:$blue;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;
  
    &:hover {
      background-color:#1167e0;
      cursor: pointer;
    }
  }

  p {
    font-size: large;
  }
}